{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<title>Crave On - Account</title>
{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center mb-4">ACCOUNT</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                <tr>
                    <td>{{ user[0] }}</td> 
                    <td>{{ user[1] }}</td> 
                    <td>{{ user[2] }}</td> 
                    <td>{{ user[3] }}</td> 
                    <td>
                        
                        <a href="#" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}