body {
    display: flex;
    justify-content: end;
    margin-right: 10em;
    height: 100vh;
    background-color: #f8f9fa;
    background: url("../../images/bgadmin.jpg") no-repeat center center fixed;
    background-size: cover;
}