*{
    margin: 0;
}

.logo{
    margin-left: 19px;
}

/* Hover effect only for specific links */
.nav-link-underline {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.nav-link-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000; /* Adjust color if needed */
    bottom: 0;
    left: 50%; /* Start from the center */
    transition: width 0.3s ease, left 0.3s ease; /* Transition for both width and left */
}

.nav-link-underline:hover::after {
    width: 100%;         /* Full width on hover */
    left: 0;             /* Move to start at the left edge */
}
