*{
    margin: 0;
}

.bg {
    background-color: grey;
    background-size: cover;
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon{
    position: relative;
    top: 2px;
    left: 2px;
}