*{
    margin: 0;
}

.bg {
    background: url("../images/bgindex.jpg") no-repeat center center;
    background-size: cover;
    height: 75vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon{
    position: relative;
    top: 2px;
    left: 2px;
}