*{
    margin: 0;
}


.logo{
    margin-left: 19px;
}




.nav-link {
    font-size: 1.3rem; }


.nav-link-underline {
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.nav-link-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000; 
    bottom: 0;
    left: 50%; 
    transition: width 0.3s ease, left 0.3s ease; 
}

.nav-link-underline:hover::after {
    width: 100%;        
    left: 0;         

}

.instagram-icon {
    margin-left: 15px; 
}

#sidebar {
    z-index: 9999;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 150px;
}
.profile-dropdown a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: black;
}
.profile-dropdown a:hover {
    background-color: #f0f0f0;
}