{% extends "admin_base.html" %}

{% block content %}
<h1 class="text-center">Manage Orders</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Items</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                {% for order in orders %}
        <tr>
            <td>{{ order.name }}</td>
            <td>
                {% for item in items %}
                    {{ item.name }}<br>
                {% endfor %}
            </td>
            <td>
                {% for item in items %}
                    x{{ item.quantity }}<br>
                {% endfor %}
            </td>
            <td>₱{{ order.total_amount }}</td>
            <td>{{ order.order_date }}</td>
            <td>{{ order.status }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
